
@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cambo', serif;

}




header {
    background-color: rgba(128, 128, 128, 0.918);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0%;
    z-index: 1;
}
.logo {
    height: 90%;
    border-radius: 15px;
    border: 2px solid cornsilk;
    margin-top: 5px;
    font-weight: 600;
}
.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 100px;

}
.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: azure;
    font-size: 15px;
    
}

.navbar-list li:first-child > a {
    color: white;
    font-weight: 500;
}

main {
    background-color: rgba(173, 152, 152, 0.918);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    width: 100%
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.info h1 {
    font-size: 45px;
    font-weight: 600;
    color: azure;
}

.info p {
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
    color: azure;
    max-width: 350px;
}
.hero-logo {
    width: 475px;
    

}

.logo {   
     max-width: 450px; 
     max-height: 450px;
}

   
#seccion2 {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color:rgba(128, 128, 128, 0.918);
}

#seccion2 h2 {
    font-size: 30px;
    font-weight: 500;
    color: azure;
}
.reserva {
    background: none;
    border: 1px solid cornsilk;
    padding: 10px 35px;
    color:azure;
    border-radius: 10px;

}


.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu{
    display: none;

}

@media(max-width:992px) {
    .info {
        text-align: center;
        width: 100%;
        align-items: center;
    }
    .hero-logo {
        display:none;
    }
    #contacto img {
        display: none;

    }
}
@media (max-width: 576px) {
    .navbar ul{
        background-color: rgba(173, 152, 152, 0.918);
        width: 100%;
        height: calc(100vh-80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);
    }
    .navbar i{
        display: block;
    }

    #toggle-menu:checked + .navbar-list {
        transform: translateX(0%);

    }

}

.info-clard-container {
    padding: 50px 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    
}
.info-card {
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 20px; 
    border: 2px solid cornsilk; 
    border-radius: 1rem;

}
.info-card p {
    text-align: center;
    font-size: 13px;
    font-weight: 400; 
    

}

.info-card h3 {
    color: cornsilk;
    font-weight: 500;
    font-size: 22px;

}
.info-card img{
    width: 50px;
}

#contacto {
    padding: 40px 0;
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
    

#contacto h3 {
    color: cornsilk;
    font-weight: 500;
    font-size: 30px;

}

.contacto-info{
    padding: 20px 0px;
    flex-direction: column;
    display: flex;
    gap: 20px; 
}

.contacto-info p{
    color: rgb(46, 45, 43);
    font-weight: 500;
    font-size: 22px;
}


.redes{
    padding: 20px 0px;
    flex-direction: row;
    display: flex;
    gap: 20px;  
   
}

.redes h3 {
    color: cornsilk;
    font-weight: 500;
    font-size: 22px;
}
.redes img{
    width: 30px;
}

footer{
    background-color: rgba(123, 109, 109, 0.918);
    color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 25px 0;
}

footer a,
footer p{
    color: cornsilk;
    font-weight: 300;
    font-size: 14px;
    
}
footer img{
   width: 50px;
    border-radius: 15px;
    border: 2px solid cornsilk;
  

}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}

.footer-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}